.container__wraper-2{ background-color: var(--header--color);
margin: 0px -40px 0px -40px;
padding-top: 120px;
padding-bottom: 160px;
@media screen and (min-width: 320px) and (max-width: 767.99px) {
    margin: 0px -15px 0px -15px;
        padding-bottom: 90px;
}
@media screen and (min-width: 768px){
    margin: 0px -40px 0px -40px;

}}


.skrol{ align-items: center;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 104px;
    height: 16px;
}

.ban{
@media screen and (min-width: 320px) and (max-width: 767.99px) {
    max-height: 498px;
    min-width: 320px;
}}