
.background {
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 767px) {
        background-image: url(../images/blog/background-1x.jpg);
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: url(../images/blog/background-2x.jpg);
  }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        background-image: url(../images/blog/background-tablet-1x.jpg);
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: url(../images/blog/background-tablet-2x.jpg);
  }
    @media screen and (min-width: 1280px) {
        background-image: url(../images/blog/background-desktop-1x.jpg);
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: url(../images/blog/background-desktop-2x.jpg);
  }
}

.blog {
    box-shadow: -1px 19px 13px -7px rgba(134,229,67,0.75) inset;
    @media screen and (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 48px;
    }
    @media screen and (min-width: 768px) {
      padding-top: 120px; 
      padding-bottom: 120px; 
    }
    @media screen and (min-width: 1280px) {
        padding-top: 130px; 
        padding-bottom: 120px; 
    }
}
    .blog-image { 
        display: block;  
        @media screen and (min-width: 768px) {
            border-radius: 12px;
            width: 387px;
        }
        @media screen and (min-width: 1280px) {
            border-radius: 12px;
            width: 387px;
            height: 364px;
            margin-right: 120px;
            overflow: hidden;
        }
    }
.blog-item {
    margin-bottom: 24px;
}
.blog-title {
    font-weight: 500;
    @media screen and (max-width: 767px) {
        font-size: 24px;
        line-height: 1.16;
        margin-bottom: 4px;
        margin-left: 16px;
    }
    @media screen and (min-width: 768px) {
        font-size: 56px;
        line-height: 1.17;  
        margin-left: 100px;
        margin-bottom: 11px;
    }
    @media screen and (min-width: 1280px) {
        margin-left: 140px;
        font-size: 56px;
        line-height: 1;
    }
}
.blog-subtitle {
    margin-bottom: 16px;
    @media screen and (max-width: 767px) {
        font-size: 24px;
        line-height: 1.16;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 56px;
        line-height: 1.17;  
    }
    @media screen and (min-width: 1280px) {
        font-size: 56px;
        line-height: 1; 
        display: none;
    }
}
.blog-subtitle-hidden {
    @media screen and (max-width: 1279px) {
        display: none;
    }
    @media screen and (min-width: 1280px) {
        font-size: 56px;
        line-height: 1;
        margin-bottom: 52px;
    }
}

.blog-card {
    display: flex;
    @media screen and (min-width: 320px) {
        flex-direction: column;
        gap: 8px;
        margin-bottom: 16px;  
    }
    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 40px;
    }    
    @media screen and (min-width: 1280px) {
        gap: 0;
    }
}
.by-date, 
.by-date-hidden {
    @media screen and (max-width: 767px) {
        gap: 8px;
        display: flex;
        flex-direction: column; 
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: end;
    }
}

.blog-card-author, 
.blog-card-date {
    font-weight: 600;
    line-height: 1;
}
.by-date-hidden {
    @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }
}
.blog-card-date {
    color: var(--secondary-color);
}
.blog-text {
    margin-bottom: 8px;
    @media screen and (min-width: 1280px) {
        display: none;
    }
}
.blog-text-hidden {
    @media screen and (max-width: 1279px) {
        display: none;
    }
    @media screen and (min-width: 1280px) {
        gap: 16px;
        display: flex;
        flex-direction: column; 
    }
}
.blog-link {
    @media screen and (min-width: 1280px) {
        display: none;
    }
    @media screen and (max-width: 1279px) {
        font-weight: 600;
        line-height: 1;
        color: var(--accent--color);
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 48px;
    }
}
.blog-link-hidden {
    @media screen and (max-width: 1279px) {
        display: none;
    }
    @media screen and (min-width: 1280px) {
        font-weight: 600;
        line-height: 1;
        color: var(--accent--color);
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
    }
}
.blog-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.blog-btn-item:first-child {
    width: 40px;
    height: 16px;
    border-radius: 30px;
    border: none;
}
.blog-btn-item {
    width: 16px;
    height: 16px;
    border-radius: 50px;
    border: none;
}
// Зеленые полоски
.blog-line {
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
    }
 }
.blog-line__first-up {
    border: 1px solid #7BE34A;
    box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
    position: absolute;
    @media screen and (max-width: 767px) {
        width: 132px;
        top: 176px;
        left: 0;
    }
    @media screen and (min-width: 768px) {
        width: 325px;
        top: 300px;
        left: 0;
    }
 }

 .blog-line__second-up {
    border-left: 1px solid #7BE34A;
    box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
    position: absolute;
    @media screen and (max-width: 767px) {
        height: 8px;
        top: 169px;
        left: 131px;
    }
    @media screen and (min-width: 768px) {
        height: 15px;
        left: 324px;
        top: 285px;
    }
 }

 .blog-line__third-up {
    border: 1px solid #7BE34A;
    box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
    position: absolute;
    @media screen and (max-width: 767px) {
        width: calc(100% - 131px);
        top: 168px;
        right: 0;
    }
    @media screen and (min-width: 768px) {
            width: calc(100% - 324px);
            top: 283px;
            right: 0;
    }
 }

 .blog-line__first-bottom {
    border: 1px solid #28780D;
    box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
    position: absolute;
    @media screen and (max-width: 767px) {
        width: 135px;
        top: 184px;
        left: 0;
    }
    @media screen and (min-width: 768px) {
    width: 335px;
    top: 310px;
    left: 0;
    }
 }

 .blog-line__second-bottom {
    border: 1px solid #28780D;
    box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
    position: absolute;
    @media screen and (max-width: 767px) {
        height: 7px;
        top: 179px;
        left: 136px;
    }
    @media screen and (min-width: 768px) {
    height: 15px;
    left: 334px;
    top: 295px;
    }
 }

 .blog-line__third-bottom {
    border: 1px solid #28780D;
    box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
    position: absolute;
    @media screen and (max-width: 767px) {
    width: calc(100% - 136px);
    top: 176px;
    right: 0;
    }
    @media screen and (min-width: 768px) {
    width: calc(100% - 334px);
    top: 294px;
    right: 0;
    }
 }