@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
  --primary--color: #FFFFFF;
  --accent--color: #86E543;
  --header--color: #01383A;
  --footer--color: #001414;
  --secondary-color: #8D9289;
}
