.contact{color: black;
background-color: var(--header--color)}

.contact__wraper {
      
    }
.title{ padding-top: 40px;
    margin-bottom: 40px; 
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
color: var(--primary--color);}


.contact__imeges{
    @media screen and (min-width: 320px) and (max-width: 767.99px) {
        margin: 0px -15px 0px -15px;
    } }


.contact__img {
    @media screen and (min-width: 320px) and (max-width: 767.99px) {
        max-height: 346px;
        min-width: 320px;
    }
}

.contact__text{margin-top: 16px;
    color: var(--primary--color);
font-weight: 400;
font-size: 16px;
line-height: 19px;}
.contact__text-1{ margin-top: 24px;
    color: var(--primary--color);
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
}

.contact_mail-margin{ margin-top: 5px;
color: var(--primary--color);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;}

.contact__link{ color: var(--secondary-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;}

    .contact_form{ margin-top: 24px;}
    .contact_form-title{ color: var(--accent--color);
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    margin-bottom: 24px;}


.form{ display: flex;
flex-direction: column;}
.contact_form-atritutes{font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--primary--color);
                margin-bottom: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
                border: 0px;
                border-bottom: 1px solid red;
                background-color:var(--header--color);
               
                cursor: pointer;}
                                   .contact_form-atritutes:focus{             outline: 1px solid var(--focus-text-color);
                                 outline-offset: 0;}


