.header-hero-wrapper {
  margin: 0 auto;
  min-width: 320px;

  background-color: #01383a;

  background-blend-mode: normal, normal, luminosity;
  background-repeat: no-repeat;
  background-image: url(../images/hero/Fon-hero-min.png),
    url(../images/hero/frame-mob-min.png), url(../images/hero/hero-bg-dt.jpg);
  background-position: bottom right -150px, bottom 25px right 0px,
    bottom right -150px;
  background-size: 1075px 650px, auto, 1075px 650px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/fon-hero-min-2x.png),
      url(../images/hero/frame-mob-min-2x.png),
      url(../images/hero/hero-bg-dt-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/hero/fon-hero-min.png),
      url(../images/hero/frame-tb-min.png), url(../images/hero/hero-bg-dt.jpg);
    background-position: bottom right -60px, bottom 75px right 0px,
      bottom right -60px;
    background-size: 1075px 790px, auto, 1075px 790px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/fon-hero-min-2x.png),
        url(../images/hero/frame-tb-min-2x.png),
        url(../images/hero/hero-bg-dt-2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/hero/fon-hero-min.png),
      url(../images/hero/frame-dt-min.png), url(../images/hero/hero-bg-dt.jpg);
    background-position: center, bottom 82px right 91px, center;
    background-size: cover, auto, cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/fon-hero-min-2x.png),
        url(../images/hero/frame-dt-min-2x.png),
        url(../images/hero/hero-bg-dt-2x.jpg);
    }
  }
}

.hero {
  margin: 0 auto;
  min-width: 320px;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  padding-top: 180px;
  padding-bottom: 127px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;

    align-items: flex-start;

    padding-top: 154px;
    padding-bottom: 208px;
    padding-left: 40px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;

    padding-top: 180px;
    padding-bottom: 208px;
    padding-left: 142px;
  }

  &__title {
    margin-bottom: 25px;

    width: 248px;

    text-align: center;

    font-weight: 500;
    font-size: 32px;
    line-height: calc(38 / 32);

    color: #ffffff;

    @media screen and (min-width: 768px) {
      margin-bottom: 94px;

      width: 388px;

      text-align: left;

      font-size: 56px;
      line-height: calc(66 / 56);

      &--break {
        display: none;
      }
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 40px;

      width: 440px;

      font-size: 64px;
      line-height: calc(75 / 64);
    }
  }

  &__link {
    padding: 16px 20px;
    border-radius: 16px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-transform: uppercase;

    background-color: #86e543;
    color: #01383a;

    @media screen and (min-width: 768px) {
      font-size: 32px;
      line-height: calc(38 / 32);
    }

    &:hover,
    &:focus {
      box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5),
        0px 4px 10px rgba(255, 255, 255, 0.1);
    }
  }
}
