.take-order {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 48px;
  @media screen and (min-width: 768px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  background: url(../images/take-order/background/mobile/bg-mobile.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: url(../images/take-order/background/mobile/bg-mobile-2x.jpg);
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    background: url(../images/take-order/background/tablet/bg-tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: url(../images/take-order/background/tablet/bg-tablet-2x.jpg);
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    background: url(../images/take-order/background/desktop/bg-desktop.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: url(../images/take-order/background/desktop/bg-desktop-2x.jpg);
  }
}

.take-order__title {
  font-weight: 600;
  font-size: 24px;
  line-height: calc(28 / 24);
  margin-bottom: 35px;
  color: var(--primary--color);
  @media screen and (min-width: 768px) {
    font-size: 56px;
    line-height: calc(66 / 56);
    margin-left: 49px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 102px;
    margin-bottom: 75px;
  }
}

.take-order__product {
  font-weight: 600;
  font-size: 32px;
  line-height: calc(38 / 32);
  color: var(--primary--color);
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    font-size: 55px;
    line-height: calc(66 / 55);
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}

.take-order__wrap {
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    max-width: 378px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    max-width: 387px;
    margin-bottom: 0;
  }
}

.take-order__img {
  width: 100%;
  border-radius: 15px;
}
.take-order__wrap-content {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 40px;
    margin-bottom: 24px;
  }
}

.take-order__wrap-content-desktop {
  display: none;
  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }
}

.take-order__wrap-text {
  @media screen and (min-width: 768px) {
    padding-top: 69px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 0;
  }
}

.take-order__wrap-price {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 40px;
}

.take-order__first-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-decoration-line: line-through;
  color: #8d9289;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 56px;
  }
  @media screen and (min-width: 1280px) {
    display: inline-block;
    margin-bottom: 0;
  }
}

.take-order__second-price {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  color: var(--accent--color);
  text-align: end;

  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 100%;
  }
  @media screen and (min-width: 1280px) {
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
  }
}

.take-order__list {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    gap: 24px;
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
  }
}

.take-order__item {
  flex-basis: calc((100% - 24px) / 4);
}

.take-order__img-catalog {
  width: 100%;
  border-radius: 4.52033px;
  @media screen and (min-width: 1280px) {
    max-width: 155px;
    max-height: 160px;
  }
}

.take-order__wrap-mb-tab {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.take-order__form {
  @media screen and (min-width: 768px) {
    padding: 0 49px;
  }
  @media screen and (min-width: 1280px) {
    padding: 0;
  }
}

.take-order__form-wrap {
  margin-bottom: 24px;
  @media screen and (min-width: 1280px) {
    display: flex;
    gap: 20px;
    margin-bottom: 48px;
  }
}

.take-order__input-wrap {
  flex: 1;
  margin-bottom: 40px;
  @media screen and (min-width: 1280px) {
    margin: bottom 0;
  }
}
.take-order__textarea-wrap {
  flex: 1;
}

.take-order__contact {
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: var(--accent--color);
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 48px;
  }
}

.take-order__input {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(25 / 16);

  text-transform: capitalize;
  color: #ffffff;

  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #86e543;
  outline: none;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(25 / 16);

    text-transform: capitalize;
    color: var(--primary--color);
    @media screen and (min-width: 768px) {
      font-size: 18px;
      line-height: calc(20 / 18);
    }
  }
  margin-bottom: 40px;
  appearance: none;
  cursor: pointer;
}

.take-oredr__select-wrap {
  position: relative;
  margin-bottom: 40px;
}
.take-oredr__select-wrap-last {
  position: relative;
}

.take-oredr__select-wrap-last::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 9px 0 9px;
  border-color: #ffffff transparent transparent transparent;

  pointer-events: none;
}

.take-oredr__select-wrap::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 9px 0 9px;
  border-color: #ffffff transparent transparent transparent;

  pointer-events: none;
}

.take-oredr__select {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(25 / 16);

  text-transform: capitalize;
  color: #ffffff;

  width: 100%;
  background-color: #01383a;
  border: none;
  border-bottom: 1px solid #86e543;
  outline: transparent;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: calc(20 / 18);
  }
}

.take-order__lable {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);

  color: #cdcdcd;

  margin-bottom: 4px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: calc(20 / 18);
  }
}

.take-order__textarea {
  width: 100%;
  height: 95px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(25 / 16);

  text-transform: capitalize;
  color: #ffffff;

  width: 100%;
  background-color: transparent;
  border: none;
  border: 1px solid #86e543;
  outline: transparent;
  resize: none;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    height: 100%;
  }
}

.take-order__button-wrap {
  @media screen and (min-width: 1280px) {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}

.take-order__first-button {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(19 / 16);

  text-align: center;
  text-transform: uppercase;

  color: var(--header--color);
  background-color: var(--accent--color);
  border: none;
  border-radius: 16px;

  padding: 16px 42px;
  cursor: pointer;
  margin-bottom: 24px;
  &:hover,
  &:focus {
    box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5),
      0px 4px 10px rgba(255, 255, 255, 0.1);
  }
  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: calc(38 / 32);
    padding: 16px 64px;
  }
  @media screen and (min-width: 1280px) {
    display: inline-flex;
    margin: 0;
  }
}

.take-order__second-button {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  text-transform: uppercase;

  color: var(--accent--color);
  background-color: transparent;

  border: 1px solid #86e543;
  border-radius: 16px;

  padding: 16px 36px;
  cursor: pointer;

  &:hover,
  &:focus {
    filter: drop-shadow(0px 4px 10px rgba(134, 229, 67, 0.1))
      drop-shadow(0px 4px 20px rgba(134, 229, 67, 0.4));
  }

  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: calc(38 / 32);
    padding: 16px 52px;
  }

  @media screen and (min-width: 1280px) {
    display: inline-flex;
    margin: 0;
  }
}


