<section class="container">
    <div class="container__wraper-2">
        <picture>
            <source media="(min-width: 1280px)" srcset="/src/images/contact/banner-dect.jpg">
            <source media="(min-width: 768px)" srcset="/src/images/contact/banner-tablet.jpg">
            <source media="(max-width: 767.9px)" srcset="/src/images/contact/mob-baner.jpg">
            <img class="ban" src="/src/images/contact/banner-dect.jpg" alt="бан" />
        </picture>
        <img class="skrol" src="/src/images/contact/Frame 15.png" alt="1">
    </div>
</section>