<section class="gallery">
  <div class="gallery-container">
    <h2 class="visually-hidden">OUR ADVANTAGES</h2>
    <div class="one-time">
      <div>
        <picture>
          <sorurse
            srcset="./images/gallery/test1.jpg 1x ./images/gallery/test1-2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <sorurse
            srcset="./images/gallery/test1-tab.jpg 1x ./images/gallery/test1-tab-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <sorurse
            srcset="./images/gallery/test1-mob.jpg 1x ./images/gallery/test1-mob-2x.jpg 2x"
            media="(min-width: 480px)"
          />

          <img
            src="./images/gallery/test1.jpg"
            alt="keyboard and mouse"
            width="100%"
          />
        </picture>

        <!-- <h3></h3> -->
      </div>
      <div>
        <picture>
          <sorurse
            srcset="./images/gallery/test2.jpg 1x ./images/gallery/test2-2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <sorurse
            srcset="./images/gallery/test2-tab.jpg 1x ./images/gallery/test2-tab-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <sorurse
            srcset="./images/gallery/test2-mob.jpg 1x ./images/gallery/test2-mob-2x.jpg 2x"
            media="(min-width: 480px)"
          />
          <img
            src="./images/gallery/test2.jpg"
            alt="three gamers"
            width="100%"
          />
        </picture>

        <!-- <h3></h3> -->
      </div>
      <div>
        <picture>
          <sorurse
            srcset="./images/gallery/test3.jpg 1x ./images/gallery/test3-2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <sorurse
            srcset="./images/gallery/test3-tab.jpg 1x ./images/gallery/test3-tab-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <sorurse
            srcset="./images/gallery/test3-mob.jpg 1x ./images/gallery/test3-mob-2x.jpg 2x"
            media="(min-width: 480px)"
          />
          <img
            src="./images/gallery/test3.jpg"
            alt="joystick and mouse"
            width="100%"
          />
        </picture>

        <!-- <h3></h3> -->
      </div>
    </div>
  </div>
</section>
