<section class="blog background">
    <div class="container">
        <h2 class="blog-title">Blog</h2>
        <ul class="blog-list">
            <li class="blog-item">
                <h3 class="blog-subtitle">Guide to Picking The Right Gaming Headset</h3>
                <div class="blog-card">
                        <picture>
                        <sourse
                      scrset="../images/blog/img1-desktop-1x.jpg 1x, 
                      ../images/blog/img1-desktop-2x.jpg 2x"
                      media="(min-width: 1280px)">
                        </sourse>
                        <sourse
                      scrset="../images/blog/img1-tablet-1x.jpg 1x, 
                      ../images/blog/img1-tablet-2x.jpg 2x"
                      media="(min-width: 768px)">
                        </sourse>
                        <sourse
                      scrset="../images/blog/img1-mobile-2x.jpg 2x"
                      media="(max-width: 767px)">
                        </sourse>
                      <img class="blog-image" src="../images/blog/img1-mobile-1x.jpg" alt="A hand trying to break out throught many headphones">
                      </picture>
                    <div class="by-date">
                      <h3 class="blog-subtitle-hidden">Guide to Picking The Right Gaming Headset</h3>
                     <div class="by-date-hidden">
                      <p class="blog-card-author">By Ray Ian Ampoloquio</p>
                      <p class="blog-card-date">Updated on September 21, 2022</p>
                     </div>  
                    <div class="blog-text-hidden"><p>Learn how to choose an amazing gaming headset with this checklist of just 9 surprisingly simple steps.
                      Gaming headsets offer a handy and practical solution to any and all of your gaming audio needs. But, as with any kind of ...</p>
                      <a class="blog-link-hidden" href="./partials/blogarticle-anhelina.html">Learn more</a></div>
                    </div>
                </div>
                    <p class="blog-text">Learn how to choose an amazing gaming headset with this checklist of just 9 surprisingly simple steps.
                        Gaming headsets offer a handy and practical solution to any and all of your gaming audio needs. But, as with any kind of ...</p>
                        <a class="blog-link" href="./partials/blogarticle-anhelina.html">Learn more</a>
            </li>
            <li class="blog-item">
                <h3 class="blog-subtitle">Mic Monitoring: What Is It and How It Is Relevant to Gaming</h3>
                <div class="blog-card">
                    <picture>
                        <sourse
                        scrset="../images/blog/img2-desktop-1x.jpg 1x, 
                        ../images/blog/img2-desktop-2x.jpg 2x"
                        media="(min-width: 1280px)">
                          </sourse>
                          <sourse
                        scrset="../images/blog/img2-tablet-1x.jpg 1x, 
                        ../images/blog/img2-tablet-2x.jpg 2x"
                        media="(min-width: 768px)">
                          </sourse>
                          <sourse
                        scrset="./images/blog/img2-mobile-1x.jpg 1x, 
                        ../images/blog/img2-mobile-2x.jpg 2x"
                        media="(max-width: 767px)">
                          </sourse>
                          <img class="blog-image" src="./images/blog/img2-mobile-1x.jpg" alt="A person with headphones in front of TV">
                    </picture>
                    <div class="by-date">
                      <h3 class="blog-subtitle-hidden">Mic Monitoring: What Is It and How It Is Relevant to Gaming</h3>
                      <div class="by-date-hidden">
                        <p class="blog-card-author">By Gab L</p>
                        <p class="blog-card-date">Updated on September 10, 2022</p>
                      </div>
                    <div class="blog-text-hidden">
                      <p>An explanation and exploration of microphone monitoring — its benefits and how you can start using one of the most underrated features today ...</p>
                      <a class="blog-link-hidden" href="./partials/blogarticle-anhelina.html">Learn more</a>
                    </div>
                  </div> 
                  </div>
                <p class="blog-text">An explanation and exploration of microphone monitoring — its benefits and how you can start using one of the most underrated features today ...</p>
                <a class="blog-link" href="./partials/blogarticle-anhelina.html">Learn more</a>
            </li>
            <li class="blog-item">
                <h3 class="blog-subtitle">How to Choose the Right Gaming Mouse</h3>
                <div class="blog-card">
                        <picture>
                            <sourse
                            scrset="../images/blog/img3-desktop-1x.jpg 1x, 
                            ../images/blog/img3-desktop-2x.jpg 2x"
                            media="(min-width: 1280px)">
                              </sourse>
                              <sourse
                            scrset="../images/blog/img3-tablet-1x.jpg 1x, 
                            ../images/blog/img3-tablet-2x.jpg 2x"
                            media="(min-width: 768px)">
                              </sourse>
                              <sourse
                            scrset="../images/blog/img3-mobile-2x.jpg 2x"
                            media="(max-width: 767px)">
                              </sourse>
                            <img class="blog-image" src="./images/blog/img3-mobile-1x.jpg" alt="A person playing a computer game wearing headphones">
                        </picture>
                    <div class="by-date">
                      <h3 class="blog-subtitle-hidden">How to Choose the Right Gaming Mouse</h3>
                      <div class="by-date-hidden">
                        <p class="blog-card-author">By Michael Crider</p>
                        <p class="blog-card-date">Updated on September 2, 2022</p>
                      </div>
                        <div class="blog-text-hidden">
                          <p>A good mouse can make a big difference when playing your favorite games. Here’s what you need to know about grip styles, types of gaming mice, technical specs, and more, before purchasing a new gaming mouse ...</p>
                          <a class="blog-link-hidden" href="./partials/blogarticle-anhelina.html">Learn more</a>
                        </div>
                    </div>
                </div>
                <p class="blog-text">A good mouse can make a big difference when playing your favorite games. Here’s what you need to know about grip styles, types of gaming mice, technical specs, and more, before purchasing a new gaming mouse ...</p>
                <a class="blog-link" href="./partials/blogarticle-anhelina.html">Learn more</a>
            </li>
        </ul>
        <div class="blog-btn">
            <button class="blog-btn-item"></button>
            <button class="blog-btn-item"></button>
            <button class="blog-btn-item"></button>
        </div>
    </div>
</section>