<section>
    <div>
        <h1></h1>
        <img src="" alt="">
        <div>
            <div></div>
            <div>
            <div class="modal__content">
                <h1 class="modal__title">Залиште свої дані, ми вам передзвонимо</h1>
                <form action="" class="">
                    <div class="form">
                        <label for="username" class="form__text">
                            Ім'я</label>
                        <input class="form__imput form__imput-name" type="text" name="username" id="username">
                    </div>
                    <div class="form">
                        <label for="" class="form__text">
                            Телефон</label>
                        <input class="form__imput form__imput-phone" type="text" name="phone_number">
                        
                    </div>
                    <div class="form">
                        <label for="" class="form__text">
                            Пошта</label>
                        <input class="form__imput form__imput-email" type="email" name="email">
                        
                    </div>
                    <div class="form">
                        <label for="" class="form__text">
                            Коментар</label>
                        <textarea class="form__imput form__imput-feedback" name="feedback" rows="5"
                            placeholder="Введіть текст"></textarea>
                    </div>
            
                </form>
                <div class="button"><button type="submit" class="button-submit">Відправити</button></div>
                <button type="button" class="modal__button" data-modal-close="">
                    </button>
            </div>

            </div>
        </div>
    </div>
</section>