<section class="container contact">

    <div>
        <h1 class="title">Сontacts</h1>
        <div class="contact__imeges">
            <picture class="contact_foto">
                <source media="(min-width: 1280px)" srcset="/src/images/contact/dt.jpg">
                <source media="(min-width: 768px)" srcset="/src/images/contact/tablet.jpg">
                <source media="(max-width: 767.9px)" srcset="/src/images/contact/mobile.jpg">
                <img class="contact__img" src="/src/images/contact/dt.jpg" alt="бан" />
            </picture>
        </div>
        <div class="contact ">
            <div class="contact__info">
                <p class="contact__text">In case of queries about order handling and/or delay, drop us an email at</p>
                <br>
                <span class="contact_mail-margin">info@shopforgamers.com</span>
                <div class="contact_mail-tel">
                    <div class="contakt-margin-2"><p class="contact__text">Email</p>
                    <a class="contact__link" href="mailto:sfg.info@gmail.com">sfg.info@gmail.com</a></div>
                    <div>
                    <p class="contact__text-1">Phone number</p>
                    <a class="contact__link" href="tel:+38 (093) 643 22 88">+38 (093) 643 22 88</a>
                    <br>
                    <a class="contact__link" href="tel:+38 (050) 345 44 23">+38 (050) 345 44 23</a></div>
                </div>
            </div>
            <div class="contact_form">
                <h2 class="contact_form-title">CONTACT US</h2>
                <form action="" class="">
                    <div class="contact_form-title">
                        <div class="form">
                            <input class="contact_form-atritutes" placeholder="Name" type="text" name="username"
                                id="username" />
                        </div>
                    </div>
                    <div class="form">
                        <input class="contact_form-atritutes" placeholder="Email" type="text" name="phone_number" />
                    </div>
                    <div class="form">
                        <label class="textarea-text" for="">Leave your message</label>
                        <textarea class="contact_form-text" name="feedback" rows="5" placeholder=""></textarea>
                    </div>
                </form>
                <div class="button__contenp-wr">
                    <button type="button" class="contact__button">SEND</button>
                </div>
            </div>
        </div>
    </div>

</section>