<section class="sale">
    <div class="container">
        <h2 class="sale__title">Sale</h2>
        <div class="line">
            <div class="line__first-up"></div>
            <div class="line__second-up"></div>
            <div class="line__third-up"></div>
            <div class="line__first-bottom"></div>
            <div class="line__second-bottom"></div>
            <div class="line__third-bottom"></div>
        </div>
        <div class="sale__product-mobile">
            <ul class="sale__list list">
                <li class="sale__item"><a href="./take-order.html" class="link">
                        <img srcset="./images/sale/Sale_1_1x.jpg 1x, ./images/sale/Sale_1_2x.jpg 2x"
                            src="./images/sale/Sale_1_1x.jpg" alt="sale_product-1" width="285" height="276" />
                        <div class="product__info">
                            <h3 class="sale__product-name">Xiberia K9 PRO PC Headset</h3>
                            <div class="sale__price">
                                <span class="sale__old-price">65.14 USD</span>
                                <span class="sale__new-price">55.14 USD</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="sale__item"><a href="./take-order.html" class="link">
                        <img srcset="./images/sale/Sale_5_1x.jpg 1x, ./images/sale/Sale_5_2x.jpg 2x"
                            src="./images/sale/Sale_5_1x.jpg" alt="sale_product-5" width="285" height="276" />
                        <div class="product__info">
                            <h3 class="sale__product-name">RGB LED Backlit Mechanical Keyboard</h3>
                            <div class="sale__price">
                                <p class="sale__old-price">156.00 USD</p>
                                <p class="sale__new-price">116.00 USD</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="sale__item"><a href="./take-order.html" class="link">
                        <img srcset="./images/sale/Sale_3_1x.jpg 1x, ./images/sale/Sale_3_2x.jpg 2x"
                            src="./images/sale/Sale_3_1x.jpg" alt="sale_product-3" width="285" height="276" />
                        <div class="product__info">
                            <h3 class="sale__product-name">G95 Light Surround Gaming Headset</h3>
                            <div class="sale__price">
                                <span class="sale__old-price">78.98 USD</span>
                                <span class="sale__new-price">50.98 USD</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="sale__item"><a href="./take-order.html" class="link">
                        <img srcset="./images/sale/Sale_7_1x.jpg 1x, ./images/sale/Sale_7_2x.jpg 2x"
                            src="./images/sale/Sale_7_1x.jpg" alt="sale_product-7" width="285" height="276" />
                        <div class="product__info">
                            <h3 class="sale__product-name">Malloom 1200 DPI 2.4Ghz Wireless Mouse</h3>
                            <div class="sale__price">
                                <span class="sale__old-price">44.24 USD</span>
                                <span class="sale__new-price">29.93 USD</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="sale__product-tablet">
            <ul class="sale__list list">
                <li class="sale__item"><a href="./take-order.html" class="link">
                        <img srcset="./images/sale/Sale_1_1x.jpg 1x, ./images/sale/Sale_1_2x.jpg 2x"
                            src="./images/sale/Sale_1_1x.jpg" alt="sale_product-1" width="285" height="276" />
                        <div class="product__info">
                            <h3 class="sale__product-name">Xiberia K9 PRO PC Headset</h3>
                            <div class="sale__price">
                                <span class="sale__old-price">65.14 USD</span>
                                <span class="sale__new-price">55.14 USD</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="sale__item"><a href="./take-order.html" class="link">
                        <img srcset="./images/sale/Sale_2_1x.jpg 1x, ./images/sale/Sale_2_2x.jpg 2x"
                            src="./images/sale/Sale_2_1x.jpg" alt="sale_product-2" width="285" height="276" />
                        <div class="product__info">
                            <h3 class="sale__product-name">G95 Light Surround Gaming Headset</h3>
                            <div class="sale__price">
                                <span class="sale__old-price">72.78 USD</span>
                                <span class="sale__new-price">51.78 USD</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="sale__item"><a href="./take-order.html" class="link">
                        <img srcset="./images/sale/Sale_5_1x.jpg 1x, ./images/sale/Sale_5_2x.jpg 2x"
                            src="./images/sale/Sale_5_1x.jpg" alt="sale_product-5" width="285" height="276" />
                        <div class="product__info">
                            <h3 class="sale__product-name">RGB LED Backlit Mechanical Keyboard</h3>
                            <div class="sale__price">
                                <p class="sale__old-price">156.00 USD</p>
                                <p class="sale__new-price">116.00 USD</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="sale__item"><a href="./take-order.html" class="link">
                        <img srcset="./images/sale/Sale_6_1x.jpg 1x, ./images/sale/Sale_6_2x.jpg 2x"
                            src="./images/sale/Sale_6_1x.jpg" alt="sale_product-6" width="285" height="276" />
                        <div class="product__info">
                            <h3 class="sale__product-name">K569 RGB LED Backlit Mechanical Keyboard</h3>
                            <div class="sale__price">
                                <p class="sale__old-price">156.98 USD</p>
                                <p class="sale__new-price">112.16 USD</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="sale__item"><a href="./take-order.html" class="link">
                        <img srcset="./images/sale/Sale_3_1x.jpg 1x, ./images/sale/Sale_3_2x.jpg 2x"
                            src="./images/sale/Sale_3_1x.jpg" alt="sale_product-3" width="285" height="276" />
                        <div class="product__info">
                            <h3 class="sale__product-name">G95 Light Surround Gaming Headset</h3>
                            <div class="sale__price">
                                <span class="sale__old-price">78.98 USD</span>
                                <span class="sale__new-price">50.98 USD</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="sale__item"><a href="./take-order.html" class="link">
                        <img srcset="./images/sale/Sale_8_1x.jpg 1x, ./images/sale/Sale_8_2x.jpg 2x"
                            src="./images/sale/Sale_8_1x.jpg" alt="sale_product-8" width="285" height="276" />
                        <div class="product__info">
                            <h3 class="sale__product-name">DARSHION 3200 DPI MZ-17 Gaming Mouse
                            </h3>
                            <div class="sale__price">
                                <span class="sale__old-price">48.00 USD</span>
                                <span class="sale__new-price">32.00 USD</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="sale__item"><a href="./take-order.html" class="link">
                        <img srcset="./images/sale/Sale_7_1x.jpg 1x, ./images/sale/Sale_7_2x.jpg 2x"
                            src="./images/sale/Sale_7_1x.jpg" alt="sale_product-7" width="285" height="276" />
                        <div class="product__info">
                            <h3 class="sale__product-name">Malloom 1200 DPI 2.4Ghz Wireless Mouse</h3>
                            <div class="sale__price">
                                <span class="sale__old-price">44.24 USD</span>
                                <span class="sale__new-price">29.93 USD</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="sale__item"><a href="./take-order.html" class="link">
                        <img srcset="./images/sale/Sale_4_1x.jpg 1x, ./images/sale/Sale_4_2x.jpg 2x"
                            src="./images/sale/Sale_4_1x.jpg" alt="sale_product-4" width="285" height="276" />
                        <div class="product__info">
                            <h3 class="sale__product-name">Logitech G230 Stereo Gaming Headset</h3>
                            <div class="sale__price">
                                <span class="sale__old-price">160.00 USD</span>
                                <span class="sale__new-price">110.00 USD</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="sale__product-desktop">
            <ul class="sale__list list">
                <li class="sale__item"><a href="./take-order.html" class="link">
                        <img srcset="./images/sale/Sale_1_1x.jpg 1x, ./images/sale/Sale_1_2x.jpg 2x"
                            src="./images/sale/Sale_1_1x.jpg" alt="sale_product-1" width="285" height="276" />
                        <div class="product__info">
                            <h3 class="sale__product-name">Xiberia K9 PRO PC Headset</h3>
                            <div class="sale__price">
                                <span class="sale__old-price">65.14 USD</span>
                                <span class="sale__new-price">55.14 USD</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="sale__item"><a href="./take-order.html" class="link">
                        <img srcset="./images/sale/Sale_2_1x.jpg 1x, ./images/sale/Sale_2_2x.jpg 2x"
                            src="./images/sale/Sale_2_1x.jpg" alt="sale_product-2" width="285" height="276" />
                        <div class="product__info">
                            <h3 class="sale__product-name">G95 Light Surround Gaming Headset</h3>
                            <div class="sale__price">
                                <span class="sale__old-price">72.78 USD</span>
                                <span class="sale__new-price">51.78 USD</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="sale__item"><a href="./take-order.html" class="link">
                        <img srcset="./images/sale/Sale_3_1x.jpg 1x, ./images/sale/Sale_3_2x.jpg 2x"
                            src="./images/sale/Sale_3_1x.jpg" alt="sale_product-3" width="285" height="276" />
                        <div class="product__info">
                            <h3 class="sale__product-name">G95 Light Surround Gaming Headset</h3>
                            <div class="sale__price">
                                <span class="sale__old-price">78.98 USD</span>
                                <span class="sale__new-price">50.98 USD</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="sale__item"><a href="./take-order.html" class="link">
                        <img srcset="./images/sale/Sale_4_1x.jpg 1x, ./images/sale/Sale_4_2x.jpg 2x"
                            src="./images/sale/Sale_4_1x.jpg" alt="sale_product-4" width="285" height="276" />
                        <div class="product__info">
                            <h3 class="sale__product-name">Logitech G230 Stereo Gaming Headset</h3>
                            <div class="sale__price">
                                <span class="sale__old-price">160.00 USD</span>
                                <span class="sale__new-price">110.00 USD</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="sale__item"><a href="./take-order.html" class="link">
                        <img srcset="./images/sale/Sale_5_1x.jpg 1x, ./images/sale/Sale_5_2x.jpg 2x"
                            src="./images/sale/Sale_5_1x.jpg" alt="sale_product-5" width="285" height="276" />
                        <div class="product__info">
                            <h3 class="sale__product-name">RGB LED Backlit Mechanical Keyboard</h3>
                            <div class="sale__price">
                                <p class="sale__old-price">156.00 USD</p>
                                <p class="sale__new-price">116.00 USD</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="sale__item"><a href="./take-order.html" class="link">
                        <img srcset="./images/sale/Sale_6_1x.jpg 1x, ./images/sale/Sale_6_2x.jpg 2x"
                            src="./images/sale/Sale_6_1x.jpg" alt="sale_product-6" width="285" height="276" />
                        <div class="product__info">
                            <h3 class="sale__product-name">K569 RGB LED Backlit Mechanical Keyboard</h3>
                            <div class="sale__price">
                                <p class="sale__old-price">156.98 USD</p>
                                <p class="sale__new-price">112.16 USD</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="sale__item"><a href="./take-order.html" class="link">
                        <img srcset="./images/sale/Sale_7_1x.jpg 1x, ./images/sale/Sale_7_2x.jpg 2x"
                            src="./images/sale/Sale_7_1x.jpg" alt="sale_product-7" width="285" height="276" />
                        <div class="product__info">
                            <h3 class="sale__product-name">Malloom 1200 DPI 2.4Ghz Wireless Mouse</h3>
                            <div class="sale__price">
                                <span class="sale__old-price">44.24 USD</span>
                                <span class="sale__new-price">29.93 USD</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="sale__item"><a href="./take-order.html" class="link">
                        <img srcset="./images/sale/Sale_8_1x.jpg 1x, ./images/sale/Sale_8_2x.jpg 2x"
                            src="./images/sale/Sale_8_1x.jpg" alt="sale_product-8" width="285" height="276" />
                        <div class="product__info">
                            <h3 class="sale__product-name">DARSHION 3200 DPI MZ-17 Gaming Mouse
                            </h3>
                            <div class="sale__price">
                                <span class="sale__old-price">48.00 USD</span>
                                <span class="sale__new-price">32.00 USD</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <a href="./accessories.html" class="sale__button">View all</a>
    </div>
</section>