<section class="take-order">
  <div class="container">
    <h1 class="take-order__title">Take order</h1>
    <h2 class="take-order__product">Xiberia K9 PRO PC Headset</h2>
    <div class="take-order__wrap">
      <picture>
        <source
          srcset="
            ./images/take-order/product/main-photo/tablet-desktop/tablet-387.webp 387w,
            ./images/take-order/product/main-photo/tablet-desktop/tablet-774.webp 774w
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/take-order/product/main-photo/tablet-desktop/tablet-387.jpg 387w,
            ./images/take-order/product/main-photo/tablet-desktop/tablet-774.jpg 774w
          "
          media="(min-width: 768px)"
          type="image/jpg"
        />
        <source
          srcset="
            ./images/take-order/product/main-photo/mobile/mobile-288.webp 288w,
            ./images/take-order/product/main-photo/mobile/mobile-576.webp 576w
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/take-order/product/main-photo/mobile/mobile-288.jpg 288w,
            ./images/take-order/product/main-photo/mobile/mobile-576.jpg 576w
          "
          type="image/jpg"
        />

        <img
          class="take-order__img"
          src="./images/take-order/product/main-photo/mobile/mobile-288.jpg"
          alt="Headset"
          sizes="(min-width: 1280px) 25vw, (min-width: 768px) 50vw, 100vw"
        />
      </picture>
    </div>
    <div class="take-order__wrap-text">
      <p class="take-order__first-price">65.14 USD</p>
      <p class="take-order__second-price">55.14 USD</p>
    </div>
    <ul class="take-order__list">
      <li class="take-order__item">
        <picture>
          <source
            srcset="
              ./images/take-order/product/product-catalog/tablet-desktop/tab-desk-1-154.webp 154w,
              ./images/take-order/product/product-catalog/tablet-desktop/tab-desk-1-308.webp 308w
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/take-order/product/product-catalog/tablet-desktop/tab-desk-1-154.jpg 154w,
              ./images/take-order/product/product-catalog/tablet-desktop/tab-desk-1-308.jpg 308w
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/take-order/product/product-catalog/mobile/mobile-1-60.webp   60w,
              ./images/take-order/product/product-catalog/mobile/mobile-1-120.webp 120w
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/take-order/product/product-catalog/mobile/mobile-1-60.jpg   60w,
              ./images/take-order/product/product-catalog/mobile/mobile-1-120.jpg 120w
            "
            type="image/jpg"
          />

          <img
            class="take-order__img-catalog"
            src="./images/take-order/product/product-catalog/mobile/mobile-1-60.jpg "
            alt="Headset"
            sizes="25"
          />
        </picture>
      </li>
      <li class="take-order__item">
        <picture>
          <source
            srcset="
              ./images/take-order/product/product-catalog/tablet-desktop/tab-desk-2-154.webp 154w,
              ./images/take-order/product/product-catalog/tablet-desktop/tab-desk-2-308.webp 308w
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/take-order/product/product-catalog/tablet-desktop/tab-desk-2-154.jpg 154w,
              ./images/take-order/product/product-catalog/tablet-desktop/tab-desk-2-308.jpg 308w
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/take-order/product/product-catalog/mobile/mobile-2-60.webp   60w,
              ./images/take-order/product/product-catalog/mobile/mobile-2-120.webp 120w
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/take-order/product/product-catalog/mobile/mobile-2-60.jpg   60w,
              ./images/take-order/product/product-catalog/mobile/mobile-2-120.jpg 120w
            "
            type="image/jpg"
          />

          <img
            class="take-order__img-catalog"
            src="./images/take-order/product/product-catalog/mobile/mobile-2-60.jpg "
            alt="Headset"
            sizes="25"
          />
        </picture>
      </li>
      <li class="take-order__item">
        <picture>
          <source
            srcset="
              ./images/take-order/product/product-catalog/tablet-desktop/tab-desk-3-154.webp 154w,
              ./images/take-order/product/product-catalog/tablet-desktop/tab-desk-3-308.webp 308w
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/take-order/product/product-catalog/tablet-desktop/tab-desk-3-154.jpg 154w,
              ./images/take-order/product/product-catalog/tablet-desktop/tab-desk-3-308.jpg 308w
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/take-order/product/product-catalog/mobile/mobile-3-60.webp   60w,
              ./images/take-order/product/product-catalog/mobile/mobile-3-120.webp 120w
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/take-order/product/product-catalog/mobile/mobile-3-60.jpg   60w,
              ./images/take-order/product/product-catalog/mobile/mobile-3-120.jpg 120w
            "
            type="image/jpg"
          />

          <img
            class="take-order__img-catalog"
            src="./images/take-order/product/product-catalog/mobile/mobile-3-60.jpg "
            alt="Headset"
            sizes="25"
          />
        </picture>
      </li>
      <li class="take-order__item">
        <picture>
          <source
            srcset="
              ./images/take-order/product/product-catalog/tablet-desktop/tab-desk-4-154.webp 154w,
              ./images/take-order/product/product-catalog/tablet-desktop/tab-desk-4-308.webp 308w
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/take-order/product/product-catalog/tablet-desktop/tab-desk-4-154.jpg 154w,
              ./images/take-order/product/product-catalog/tablet-desktop/tab-desk-4-308.jpg 308w
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/take-order/product/product-catalog/mobile/mobile-4-60.webp   60w,
              ./images/take-order/product/product-catalog/mobile/mobile-4-120.webp 120w
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/take-order/product/product-catalog/mobile/mobile-4-60.jpg   60w,
              ./images/take-order/product/product-catalog/mobile/mobile-4-120.jpg 120w
            "
            type="image/jpg"
          />

          <img
            class="take-order__img-catalog"
            src="./images/take-order/product/product-catalog/mobile/mobile-4-60.jpg "
            alt="Headset"
            sizes="25"
          />
        </picture>
      </li>
    </ul>

    <form>
      <label for="user-name" class="take-order__contact">CONTACT US</label>
      <input
        type="text"
        class="take-order__input"
        name="user-name"
        id="user-name"
        placeholder="Name"
      />
      <input
        type="text"
        class="take-order__input"
        name="user-email"
        placeholder="Email"
      />
    </form>
  </div>
</section>
